<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Budget</title>
    <link rel="stylesheet" href="/css/styling.css" />
    <script src="/handlers/handlers.js"></script>
  </head>
  <body>
    <h1 th:if="${username}" th:text="${username}"></h1>

    <!-- Show success message -->
    <p th:if="${message}" class="success-message" th:text="${message}"></p>

    <!-- Budget Entries Grouped by Year and Month -->
    <div th:each="yearData : ${entries}">
      <h2
        class="link-btn"
        th:text="${yearData.year}"
        th:onclick="|handleYearClick(event, ${yearData.year})|"
      ></h2>
      <!--For each year-->
      <div th:id="'divyear_' + ${yearData.year}">
        <div
        th:id="'divyear_' + ${yearData.year}"
        th:style="'display:' + (${yearData.year} == ${todayyear} ? 'block' : 'none')"
          th:each="monthEntries : ${yearData.monthlyEntries}"
        >
          <!--For each month of the year-->
          <h3
            class="link-btn"
            th:text="${monthnames[monthEntries.key - 1]}"
            th:onclick="|handleMonthClick(event, ${monthEntries.key})|"
          ></h3>
          <table
            th:id="'tbl_' + ${monthEntries.key}"
            th:style="'display:' + (${monthEntries.key} == ${todaymonth} ? 'block' : 'none')"
          >
            <thead>
              <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Amount</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="entry : ${monthEntries.value}">
                <td th:text="${#dates.format(entry.date, 'dd-MM-yyyy')}"></td>
                <td th:text="${entry.description}"></td>
                <td
                  class="amount"
                  th:text="${#numbers.formatCurrency(entry.amount)}"
                ></td>
                <td>
                  <form
                    th:action="@{/budgetpage/{id}(id=${entry.id})}"
                    method="post"
                    onsubmit="return confirm('Are you sure you want to delete?')"
                  >
                    <input type="hidden" name="_method" value="DELETE" />
                    <button class="btn" type="submit">Delete</button>
                  </form>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>Month total</td>
                <td
                  class="amount"
                  colspan="2"
                  th:text="${#numbers.formatCurrency(#aggregates.sum(monthEntries.value.![amount]))}"
                ></td>
              </tr>
              <tr>
                <td>Cumulative total</td>
                <td
                  class="amount"
                  colspan="2"
                  th:text="${#numbers.formatCurrency(cumulativeTotals[yearData.year][monthEntries.key])}"
                ></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>

    <!-- Budget Entry Form -->
    <div>
      <form th:action="@{/budgetpage}" method="post">
        <label for="date">Date</label>:
        <input
          type="date"
          id="date"
          name="date"
          th:value="${todaysdate}"
          required
        /><br />

        <label for="description">Description</label>:
        <input type="text" id="description" name="description" required /><br />

        <label for="amount">Amount</label>:
        <input
          type="number"
          id="amount"
          name="amount"
          step="0.01"
          required
        /><br />

        <fieldset>
          <legend>Type of entry</legend>
          <label for="entrytype">Expense</label>
          <input
            type="radio"
            id="expense"
            name="entrytype"
            value="expense"
            checked
          />
          <label for="entrytype">Income</label>
          <input type="radio" id="income" name="entrytype" value="income" />
        </fieldset>

        <input type="submit" value="Add Entry" />
      </form>
    </div>
  </body>
</html>
